type: issue
title: {{ printf "%q" .Title }}
description: {{ printf "%q" .Description }}
goal: {{ printf "%q" .Goal }}
created: {{ .Created }}
updated: {{ .Created }}
status: open
severity: medium
# tags: required domain/<x>; activity/, pattern/ optional
tags: [{{- range $i, $t := .Tags }}{{ if $i }}, {{ end }}{{ $t }}{{- end }}]
project: {{ .Project }}
