type: learning
title: {{ printf "%q" .Title }}
created: {{ .Created }}
updated: {{ .Created }}
status: draft
diataxis: explanation
confidence: low
# tags: required domain/<x> + activity/<x>; pattern/<x> optional
tags: [{{- range $i, $t := .Tags }}{{ if $i }}, {{ end }}{{ $t }}{{- end }}]
