type: plan
title: {{ printf "%q" .Title }}
created: {{ .Created }}
updated: {{ .Created }}
status: draft
horizon: {{ .Horizon }}
target_date: {{ .TargetDate }}
tags: [type/plan]
project: {{ .Project }}