type: product-design
title: {{ printf "%q" .Title }}
description: {{ printf "%q" .Description }}
created: {{ .Created }}
updated: {{ .Created }}
status: draft
tags: [type/product-design]
project: {{ .Project }}
