type: sweep
title: {{ printf "%q" .Title }}
description: {{ printf "%q" .Description }}
created: {{ .Created }}
updated: {{ .Created }}
status: planned
breaking: {{ .Breaking }}
scope: {{ printf "%q" .Scope }}
tags: [type/sweep]
